/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/*
=======================
Grid
=======================
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.grid {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.container {
    /* 30px/960px */
    padding-right: 3.1245%;
    padding-left: 3.1245%;
    /* 30px/960px */
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    /* 15px/960px */
    padding-right: 1.5625%;
    padding-left: 1.5625%;
    /* 15px/960px */
}

p.iconBtn a {
    border-bottom: none;
}


/*
=======================
Clearfix
=======================
*/

.group:before,
.group:after {
    display: table;
    content: '';
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}


/*
=======================
Leads
=======================
*/

.lead {
    max-width: 960px;
    text-align: center;
}

.lead p {
    font-size: 1.3125em;
    line-height: 1.57;
    /* 33px */
    color: #fff;
}

.lead h1 {
    color: #fff;
}


/*
=======================
Buttons
=======================
*/

.btn {
    font-weight: 400;
    line-height: 2.65em;
    display: inline-block;
    margin: 0;
    padding: 10px 30px;
    cursor: pointer;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-alt {
    color: #fff;
    border: 1px solid #dfe2e5;
}

.btn-alt:hover {
    color: #648880;
    background: #fff;
}

.btn-blue {
    color: #0b3f57;
    /* rewrite for blue */
    border: 1px solid #dfe2e5;
}

.btn-dark {
    color: #648880;
    border: 1px solid #dfe2e5;
}

.btn-dark:hover {
    color: #fff;
    background: #648880;
}

.scrambler {
    padding: 10px 56px;
}


/*
=======================
Home
=======================
*/

.row-hero {
    width: 100%;
    height: 573px;
    margin: auto;
    background-image: url(../img/home/colorado7Blur.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    padding: 290px 55px 66px 55px;
    text-align: center;
    color: #fff;
}

.wf-inactive .hero h1 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 2.9em;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    margin-bottom: .4em;
    color: white;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
}

.hero h1 {
    font-family: 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    margin-bottom: .4em;
    color: white;
    text-shadow: 2px 2px 0 rgba(23, 46, 61, 1), 0 0 6px rgba(23, 46, 61, .75);
}

.hero h2 {
    font-family: 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: .8em;
    opacity: .7;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(23, 46, 61, 1), 0 0 6px rgba(23, 46, 61, .75);
}


/*
=======================
Primary Header
=======================
*/

.logo {
    font-family: 'Lato', Verdana, Geneva, sans-serif;
    font-size: 3em;
    font-weight: 100;
    line-height: .927;
    float: left;
    padding: 40px 0 22px 0;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-top: 4px solid #627186;
}

.tagline {
    margin: 56px 0 22px 0;
    text-align: right;
}

.primary-nav {
    font-size: .875em;
    font-weight: 400;
    margin-bottom: 22px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

h3.tagline {
    color: #a9b2b9;
}


/*
=======================
Primary Footer
=======================
*/

.primary-footer small {
    font-size: .875em;
    font-weight: 400;
    display: block;
    float: left;
    margin-top: -20px;
}

.primary-footer {
    padding-top: 44px;
    padding-bottom: 44px;
    text-align: right;
    color: #648880;
}


/*
=========================
Custom Typographic Styles
=========================
*/

body {
    font-family: 'Lato', 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: normal;
    color: #888;
    background: #0b3f57;
}

p {
    hyphens: auto;
}

h1,
h3,
h4,
h5,
p {
    margin-bottom: 22px;
}

h1,
h2,
h3,
h4 {
    color: #648880;
}

h1 {
    font-size: 3em;
    line-height: 1.05;
}

h2 {
    font-size: 2.25em;
    line-height: 1.5;
}

h3 {
    font-size: 1.75em;
    line-height: 1.25;
}

h4 {
    font-size: 1.125em;
    line-height: 1.25;
}

h5 {
    font-size: .875em;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    color: #a9b2b9;
}

strong {
    font-weight: 400;
}

cite,
em {
    font-style: italic;
}

.marketing h5 {
    margin-top: 24px;
    margin-bottom: 8px;
}

.marketing h2 {
    margin-bottom: -16px;
}

.container h4,
.centerText {
    text-align: center;
}


/*
====================================
Injected Typographic Styles for FOUT
====================================
*/

.wf-inactive body,
.wf-inactive caption,
.wf-inactive th,
.wf-inactive td,
.wf-inactive input,
.wf-inactive textarea,
.wf-inactive legend,
.wf-inactive fieldset {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 1em;
    line-height: 1.375em;
    letter-spacing: .0035em;
}

.wf-inactive h1 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 3em;
    font-weight: inherit;
    line-height: 1.05em;
}

.wf-inactive h2 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 2.25em;
    font-weight: inherit;
    line-height: 1.25em;
}

.wf-inactive h3 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 1.5em;
    font-weight: inherit;
    line-height: 1.25em;
}

.wf-inactive h4 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: 1.125em;
    font-weight: inherit;
    line-height: 1.25em;
}

.wf-inactive h5 {
    font-family: 'Trebuchet MS', Arial, Calibri, sans-serif;
    font-size: .875em;
    font-weight: inherit;
    line-height: 1.25em;
}


/*
=======================
Links
=======================
*/

a {
    text-decoration: none;
    color: #6372bd;
}

.marketing a {
    text-decoration: underline;
}

a:hover {
    color: #a9b2b9;
}

p a {
    color: #6372bd;
    border-bottom: 1px solid #dfe2e5;
}

#wrapper p a {
    color: #6372bd;
    border-bottom: none;
}

.primary-header a,
.primary-footer a {
    font-size: 1em;
    color: #fff;
}

.teaser a:hover h5,
.teaser a:hover span,
.primary-header #menu a:hover,
.primary-footer a:hover,
.about-info a:hover span {
    color: #fbcaa1;
}


/*
=======================
Navigation
=======================
*/

.primary-nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/*
=======================
Rows
=======================
*/

.row,
.rowAbout,
.rowTestimonial {
    background: #fff;
}

.row {
    padding: 66px 0 44px 0;
}

.row-alt {
    padding: 44px 0 22px 0;
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #627186, #fbcaa1);
    background: -moz-linear-gradient(to right, #627186, #fbcaa1);
    background: linear-gradient(to right, #627186, #fbcaa1);
}

.rowAbout {
    padding: 66px 0 10px 0;
}

.rowTestimonial {
    padding: 10px 0 10px 0;
}

.bg-grey {
    background-color: rgb(247, 247, 247);
}


/*
=======================
About Page
=======================
*/

.about-info {
    margin-top: 94px;
    padding-bottom: 22px;
    text-align: center;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
}

.about {
    margin-bottom: 44px;
}


/* Social Icons */

.icon-mail,
.icon-linkedin,
.icon-linkedin2,
.icon-twitter2,
.icon-twitter,
.icon-github,
.icon-github4,
.icon-github3,
.icon-google-plus2 {
    font-size: 1.625em;
    display: inline-block;
    margin-right: 10px;
    color: #627186;
}

.icon-mail3 {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 10px;
    color: #627186;
}

.icon-play3 {
    margin-left: 10px;
}

.icon-user,
.icon-bullhorn,
.icon-display {
    margin-right: 10px;
}

a:hover .icon-mail,
a:hover .icon-mail3,
a:hover .icon-linkedin,
a:hover .icon-linkedin2,
a:hover .icon-twitter2,
a:hover .icon-twitter,
a:hover .icon-bullhorn,
a:hover .icon-display,
a:hover .icon-user,
a:hover .icon-github,
a:hover .icon-github3,
a:hover .icon-github4,
a:hover .icon-google-plus2 {
    color: #a9b2b9;
}


/* Bubble Blockquote */

.testimonial blockquote {
    font-style: italic;
    position: relative;
    margin: 10px 10px 0;
    padding: 20px 60px;
    border: none;
    border-radius: 8px;
    background: #ddd;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
    font-family: Georgia;
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    content: '“';
    quotes: '\201C''\201D';
    color: #fff;
}

.testimonial blockquote:before {
    top: 0;
    left: 10px;
    quotes: '\201C';
}

.testimonial blockquote:after {
    right: 10px;
    bottom: -.5em;
    content: '”';
    quotes: '\201D';
}

.testimonial div {
    width: 0;
    height: 0;
    margin: 0 0 0 60px;
    border-top: 20px solid #ddd;
    border-right: 20px solid transparent;
    border-left: 0 solid transparent;
}

.testimonial p.title {
    margin: 8px 0 0 20px;
    text-align: left;
}

.testimonial {
    margin-bottom: 66px;
}


/*
=======================
Images
=======================
*/

img {
    max-width: 100%;
}

.teaser img {
    display: block;
    max-width: 100%;
    margin-bottom: 22px;
    border-radius: 5px;
}

.about-info img {
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
    border-radius: 50%;
}


/*
=======================
Table Styles
=======================
*/

table {
    width: 100%;
    margin-bottom: 44px;
}

table:last-child {
    margin-bottom: 0;
}

th,
td {
    padding-bottom: 22px;
    vertical-align: top;
}

th {
    width: 20%;
    padding-right: 45px;
    text-align: right;
}

td {
    width: 40%;
}

thead {
    line-height: 44px;
}

thead th {
    font-size: 24px;
    color: #648880;
}

tbody th {
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
    color: #a9b2b9;
}

tbody td {
    padding-top: 21px;
    border-top: 1px solid #dfe2e5;
}

tbody td:first-of-type {
    padding-right: 15px;
}

tbody td:last-of-type {
    padding-left: 15px;
}

tbody td:only-of-type {
    padding-right: 0;
    padding-left: 0;
}

table a {
    color: #888;
}

table h4 {
    margin-bottom: 0;
}

.schedule-offset {
    color: #a9b2b9;
}


/*
=======================
Design Portfolio
=======================
*/

input,
textarea {
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

img {
    max-width: 100%;
    border: 0;
}

#wrapper {
    display: block;
    width: 100%;
    max-width: 1100px;
}

#portfolio {
    display: block;
    margin: 0 0 0 2%;
}

#portfolio li {
    display: block;
    float: left;
    width: 30%;
    max-width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#portfolio li a {
    display: block;
    padding: 8px 8px 4px 8px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .25);
}

.mfp-title {
    font-size: 1.2em;
    font-weight: 300;
    color: #ddd;
}

.clearfix:after {
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

@media screen and (max-width: 780px) {
    #portfolio li {
        width: 46%;
    }
    #wrapper {
        display: block;
        width: 100%;
        max-width: 1100px;
    }
}

@media screen and (max-width: 550px) {
    #portfolio {
        text-align: center;
    }
    #portfolio li {
        display: inline-block;
        float: none;
        width: 80%;
        margin-bottom: 30px;
    }
}


/*
=========================
Hexagon Responsive Images
=========================
*/

#categories {
    width: 100%;
    margin: 0 auto 40px auto;
}

.clr:after {
    display: block;
    clear: both;
    content: '';
}

#categories li {
    position: relative;
    visibility: hidden;
    /* =  width /0.866 */
    float: left;
    overflow: hidden;
    width: 27.85714285714286%;
    /* = (100-2.5) / 3.5 */
    padding-bottom: 32.16760145166612%;
    list-style-type: none;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(3n+2) {
    margin: 0 1%;
}

#categories li:nth-child(6n+4) {
    margin-left: .5%;
}

#categories li:nth-child(6n+4),
#categories li:nth-child(6n+5),
#categories li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#categories li * {
    position: absolute;
    visibility: visible;
}

#categories li > div {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    text-align: center;
    color: #fff;
    -webkit-backface-visibility: hidden;
}


/* Hex Inside Content */

#categories li img {
    right: -100%;
    left: -100%;
    width: auto;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

#categories div p {
    width: 100%;
    padding: 0 5%;
    -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    background-color: #627186;
    background-color: rgba(98, 113, 134, .8);
}

#categories li p {
    top: 110%;
    padding-top: 50%;
    padding-bottom: 50%;
}

#categories li div:hover p {
    font-size: 1.2em;
    font-weight: 400;
    top: 50%;
    padding-top: 10%;
}


/*
=========================
Marketing Page Styles
=========================
*/

.marketing ul {
    margin-left: 1.2em;
    list-style: circle;
}

.marketing p a {
    border-bottom: none;
}


/*
=======================
Badge App - Insignia
=======================
*/

a {
    word-wrap: break-word;
}

.badgeImages {
    display: inline-block;
    margin: 2px;
}

#coding-form h2 {
    font-size: 1.5em;
    line-height: 1.3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pointsLessons h3,
.pointsLessons2 h3 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: none;
    font-size: 26px
}

#badge-section {
    text-align: center;
}

.badges li,
.badges2 li {
    width: 10%;
}

.badges li img,
.badges2 li img {
    width: 100%;
}

.badges2,
.badges {
    text-align: center;
    margin-bottom: 26px;
}

.insignia h3 {
    margin-bottom: 16px;
    text-align: center;
    text-transform: none;
    font-size: 22px;
    margin-top: 28px;
}

.tooltip {
    display: none;
    position: absolute;
    border: none;
    background-color: #161616;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    /*  font-size:12px Arial;
*/
}

.tooltip1 {
    display: none;
    position: absolute;
    border: none;
    background-color: #161616;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-size: 12px Arial;
}

span.tooltip {
    padding-top: 10px;
    padding-bottom: 10px;
}

p.tooltip1 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
=======================
Media Queries
=======================
*/


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        font-size: 1em;
        line-height: 1.375;
    }
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.222222;
    }
    h5 {
        font-size: .875em;
        line-height: 1.222222;
    }
    .row {
        padding: 33px 0 22px 0;
    }
    .grid {
        width: 100%;
    }
}


/*
=======================
Tablet
=======================
*/


/* Tablet, larger, or landscape mode (max-width: 720px) */

@media screen and (max-width: 45em) {
    body {
        font-size: 1em;
        line-height: 1.375;
    }
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.222222;
    }
    h5 {
        font-size: .875em;
        line-height: 1.222222;
    }
    .nav {
        width: 100%;
        text-align: center;
    }
    .primary-nav {
        font-size: .875em;
        font-weight: 400;
        letter-spacing: .5px;
        text-transform: uppercase;
    }
    .nav li {
        display: inline-block;
        margin-bottom: 6%;
        vertical-align: top;
    }
    .nav li:last-child {
        margin-right: 0;
    }
    .nav li:first-child {
        margin-left: 0;
    }
    .primary-header a,
    .primary-footer a {
        display: block;
        color: #fff;
    }
    .container {
        width: 100%;
        margin: 0;
        padding-right: 1%;
        padding-left: 1%;
    }
    .logo {
        font-size: 36px;
        font-weight: 100;
        float: none;
        padding: 30px 0 0 0;
        text-align: center;
        letter-spacing: .5px;
        text-transform: uppercase;
        border-top: none;
    }
    .tagline {
        display: none;
    }
    .primary-header a:hover,
    .primary-footer a:hover {
        color: #fbcaa1;
    }
    .primary-footer small {
        display: block;
        float: none;
        text-align: center;
    }
    p {
        hyphens: none;
    }
    #categories {
        margin: 0 auto 30px auto;
    }
}


/* tablet smaller (min-width: 480px) and (max-width: 720px) */

@media screen and (min-width: 30em) and (max-width: 45em) {
    body {
        font-size: 1em;
        line-height: 1.25;
    }
    h1 {
        font-size: 2em;
        line-height: 1.25;
    }
    h2 {
        font-size: 1.625em;
        line-height: 1.15384615;
    }
    h3 {
        font-size: 1.375em;
        line-height: 1.13636364;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.1111111;
    }
    h5 {
        font-size: .875em;
        line-height: 1;
    }
    #categories li div:hover p {
        font-size: 1em;
        font-weight: 400;
    }
    #categories {
        margin: 0 auto 40px auto;
    }
    .col-1-3,
    .col-2-3 {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 2%;
        padding-left: 2%;
        vertical-align: top;
    }
    .row {
        padding: 20px 0 44px 0;
    }
    #categories {
        margin: 0 auto 30px auto;
    }
    .btn {
        width: 100%;
    }
}


/* Smartphones (landscape) (max-width: 480px) */

@media screen and (max-width: 30em) {
    body {
        font-size: 1em;
        line-height: 1.375;
    }
    h1 {
        font-size: 2em;
        line-height: 1.25;
    }
    h2 {
        font-size: 1.625em;
        line-height: 1.15384615;
    }
    h3 {
        font-size: 1.375em;
        line-height: 1.13636364;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.1111111;
    }
    h5 {
        font-size: .875em;
        line-height: 2;
    }
    .col-1-3,
    .col-2-3 {
        display: block;
        width: 100%;
        vertical-align: top;
    }
    .hero h1 {
        position: relative;
        bottom: 160px;
    }
    .hero h2 {
        font-size: 1.5em;
        position: relative;
        bottom: 150px;
        padding: 0 3%;
    }
    .btn-alt {
        position: relative;
        bottom: 140px;
    }
    .row-hero {
        height: 460px;
    }
    .row-alt {
        padding: 5%;
    }
    #categories li div:hover p {
        display: none;
    }
    .row {
        padding: 20px 0 44px 0;
    }
    #categories {
        margin: 0 auto 20px auto;
    }
    .lead p {
        font-size: 1.0625em;
    }
    .mfp-title {
        font-size: 1em;
    }
    .col-2-3 {
        padding-right: 0;
        padding-left: 0;
    }
    .testimonial blockquote {
        font-size: 1em;
        margin: 0;
        padding: 10px 25px 10px 35px;
    }
    .testimonial blockquote:before,
    .testimonial blockquote:after {
        font-size: 50px;
    }
    .rowAbout {
        padding: 25px 0 10px 0;
    }
}


/* Smartphones (portrait) (max-width: 320px) */

@media screen and (max-width: 20em) {
    .hero {
        padding-top: 360px;
        padding-bottom: 66px;
    }
    h5 {
        margin-bottom: 11px;
    }
    .hero h2 {
        opacity: .9;
    }
    .timeline-title {
        font-size: .8em;
    }
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    #portfolio li {
        width: 90%;
    }
    #wrapper {
        margin: 0 auto 0 auto;
    }
    #portfolio li {
        margin-right: 0;
    }
    .primary-footer small {
        margin-top: 5px;
    }
    .lead p {
        font-size: 1.0625em;
    }
}


/*
All pertaining to responsive menu
*/

.menu-btn span {
    z-index: 99;
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    margin-left: 6px;
    background: #a6a6a6;
}

.menu-btn {
    margin-top: 0;
    margin-bottom: 6px;
}

.responsive-menu {
    display: none;
}

.expand {
    display: block !important;
}

@media (min-width: 550px) {
    .menu-btn {
        display: none;
        margin: 0;
    }
}

@media (max-width: 550px) {
    .responsive-menu li {
        display: block;
        margin-right: 0;
        margin-bottom: 18px;
        margin-left: 0;
    }
    .primary-nav {
        margin-bottom: 12px;
    }
}

@media (max-width: 550px) {
    .main-menu {
        display: none;
    }
}